body {
  display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: center;
}
#display {
    font-size:  80px;
    height: 100px;
    width: 200px;
    /* remove the border */
    border: 2px solid lightgrey;
    border-radius: 10px;
    margin: 10px;
}

#calculate {
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 50px;
}

.btn-style {
    background: lightgrey;
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
    font-size: 50px;
}

#input-box {
    height: 100px;
    width: 150px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    margin: 10px;
    
}